main h1 {
  padding: 0px 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

section p {
  font-size: medium;
}

section img {
  max-height: 600px;
  border-radius: 10px;
}
